
.AA_Logo_Food {
    height: 150px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
}

.chevron-left {
    height: 30px;
}
.header h1 {
    font-size: 40px;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 30px;
}

.header-entrees {
  display: flex;
  flex-direction: row;
  margin-left: 45px;
}

.chevron-left {
    padding: 2px 20px;
}
.food-order-container-1 {
  height: 100vh; /* Set a fixed height, adjust as needed */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/Airplane-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

  body {
    margin: 0;
    padding: 0;
  }
  .content {
    text-align: center;
    margin-top: 90px;
  }

  .fixed-button {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 1000; /* Ensure it's above other elements */
    padding: 15px 30px;
    background-color: #007bff; /* Example color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}
  
  .img {
    display: flex;
    margin: 0 auto;
    height: 30vh;
    width: 80%;
    border-radius: 5%;
    object-fit: cover;
  }
  .container {
    margin: 0 auto;
    width: 100%;
    height: 43vh;
    border-color: white;
  }
  .title {
    margin-left: 50px;
    width: 70%;
    font-size: 30px;
    padding: 20px;
    border-radius: 5px;
    font-size: 33px;
  }
  .description {
    margin: 20px auto;
    width: 80%;
    font-size: 25px;
    margin: 20px auto;
  }

  .slide-btn {
    background-color: transparent;
    border: none;
  }

